*
!scripts
!scripts/*
scripts/.snakemake*
!example_outdir
!example_outdir/*
!example_outdir/*/*
!Snakefile
!predesigned_probesets/
!predesigned_probesets/*
!use_prebuilt_indices.smk
!check_probe_homology.smk
!config.yaml
!envs
!envs/*
!LICENSE
!README.md
!.gitignore
!.editorconfig
!.gitattributes
*/.DS_Store
*/*/.DS_Store
